<%- include ('./../../components/head.ejs')%>

<body>
    <div class="container-xxl position-relative bg-primary-subtle d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sign In Start -->
        <div class="container-fluid">
            <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                <div class="col-12 col-sm-8 col-md-6">
                    <div class="bg-light rounded shadow-lg p-4 my-4">
                        <h2 class="mb-3 text-center" >Lengkapi Data</h2>
                        <form>
                            <div class="mb-3">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" id="email" value="<%= email %>" disabled>
                            </div>
                            <div class="mb-3">
                                <label for="nis" class="form-label">NIS</label>
                                <input type="text" class="form-control" id="nis" placeholder="Nomor Induk Siswa" required>
                            </div>
                            <div class="mb-3">
                                <label for="nama" class="form-label">Nama</label>
                                <input type="text" class="form-control" id="nama" placeholder="Nama Lengkap" required>
                            </div>
                            <div class="mb-3">
                                <label for="jenis_kelamin">Jenis Kelamin</label>
                                <select class="form-select" id="jenis_kelamin" aria-label="Floating label select example" required>
                                    <option selected undefined disabled>Pilih Jenis Kelamin</option>
                                    <option value="laki-laki">Laki-Laki</option>
                                    <option value="perempuan">Perempuan</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="tempat_lahir" class="form-label">Tempat Lahir</label>
                                <input type="text" class="form-control" id="tempat_lahir" placeholder="Tempat Lahir" required>
                            </div>
                            <div class="mb-3">
                                <label for="tanggal_lahir" class="form-label">Tanggal Lahir</label>
                                <input type="date" class="form-control" id="tanggal_lahir" placeholder="YYYY-MM-DD" required>
                            </div>
                            <div class="mb-3">
                                <label for="alamat" class="form-label">Alamat</label>
                                <input type="text" class="form-control" id="alamat" placeholder="Alamat Tempat Tinggal" required>
                            </div>
                            <div class="mb-3">
                                <label for="agama" class="form-label">Agama</label>
                                <select class="form-select" id="agama"
                                    aria-label="Floating label select example" required>
                                    <option selected undefined disabled>Pilih Agama</option>
                                    <option value="Islam">Islam</option>
                                    <option value="Kristen">Kristen</option>
                                    <option value="Katolik">Katolik</option>
                                    <option value="Hindu">Hindu</option>
                                    <option value="Buddha">Budha</option>
                                    <option value="Konghucu">Konghucu</option>
                                    <option value="Lainnya">Lainnya....</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="no_hp" class="form-label">Nomor Telepon</label>
                                <input type="text" class="form-control" id="no_hp" placeholder="081234567890" required>
                            </div>
                            <div class="mb-3">
                                <label for="hobi" class="form-label">Hobi</label>
                                <input type="text" class="form-control" id="hobi" placeholder="Hobi Murid" required>
                            </div>
                            <div class="mb-3">
                                <label for="sekolah_asal" class="form-label">Sekolah Asal</label>
                                <input type="text" class="form-control" id="sekolah_asal" placeholder="Sekolah Asal Murid" required>
                            </div>
                            <div class="mb-3">
                                <label for="no_ijazah" class="form-label">No Ijazah</label>
                                <input type="text" class="form-control" id="no_ijazah" placeholder="Nomor Ijazah Murid" required>
                            </div>
                            <div class="mb-3">
                                <label for="id_jurusan">Jurusan</label>
                                <select class="form-select" id="id_jurusan" aria-label="Floating label select example" required>
                                    <option selected undefined disabled>Pilih Jurusan</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="foto" class="form-label">Foto</label>
                                <input type="file" class="form-control" id="foto">
                            </div>
                            <button type="button" id="tambah" class="btn btn-primary py-3 w-100 mb-4">Submit</button>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- Sign In End -->
    </div>

    <%- include ('./../../components/script.ejs')%>
    <script>
         $("#tambah").on("click", (e) => {
            e.preventDefault();
            const nis = $("#nis").val();
            const email = $("#email").val();
            const nama = $("#nama").val();
            const jenis_kelamin = $("#jenis_kelamin").val();
            const tempat_lahir = $("#tempat_lahir").val();
            const tanggal_lahir = $("#tanggal_lahir").val();
            const alamat = $("#alamat").val();
            const agama = $("#agama").val();
            const no_hp = $("#no_hp").val();
            const hobi = $("#hobi").val();
            const no_ijazah = $("#no_ijazah").val();
            const sekolah_asal = $("#sekolah_asal").val();
            const id_jurusan = $("#id_jurusan").val();

            const fileInput = document.getElementById('foto');
            const file = fileInput.files[0];
            const formData = new FormData();

            formData.append('foto', file);
            formData.append('data', JSON.stringify({nis, email, nama, jenis_kelamin, tempat_lahir, tanggal_lahir, alamat, agama, no_hp, no_ijazah, hobi, sekolah_asal, id_jurusan}));
            console.log(JSON.stringify({nis, email, nama, jenis_kelamin, tempat_lahir, tanggal_lahir, alamat, agama, no_hp, no_ijazah, hobi, sekolah_asal, id_jurusan}))
            console.log(formData)
            $.ajax({
                url: "/api/auth/register/murid",
                method: "POST",
                processData: false,
                contentType: false,
                data: formData,
                success: (response) => {
                    alert(response.status.message);
                    window.location.href = "/login";
                },
                error: (response) => {
                    const message = response.responseJSON.status.message;
                    alert(message);
                }
            });
        });

        $(document).ready(()=>{
            // fetch data jurusan
            $.ajax({
                url: "/api/admin/jurusan",
                method: "GET",
                contentType: "application/json",
                success: (response) => {
                    const data = response.data;
                    for (const jurusan of data) {
                        $("#id_jurusan").append(`
                            <option value="${jurusan.id}">${jurusan.nama}</option>
                        `);
                    }
                },
                error: (response) => {
                    const message = response.responseJSON.status.message;
                    alert(message);
                }
            });
        });
   
    </script>

</body>

</html>