<%- include ('./../../../components/head.ejs')%>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <!-- sidebar start -->
        <%- include ('./../../../components/sidebar-murid.ejs')%>
        <!-- sidebar end -->

        <div class="content">
            <!-- navbar start -->
            <%- include ('./../../../components/navbar-murid.ejs')%>
            <!-- navar end -->

            <div class="container-fluid pt-4 px-4 pb-5">
                <div class="bg-light rounded h-100 p-4">
                    <div class="pb-4">
                        <a href="/murid/payment" class="d-inline-flex text-decoration-nonebi bi-arrow-left pr-4"></a>
                        <h6 class="d-inline px-2">Kembali</h6>
                    </div>
                    <h6>Bayar SPP</h6>
                    <hr>
                    <form>

                        <!-- <div class="text-center">
                            <video autoplay="false" id="video-webcam">
                                Browsermu tidak mendukung bro, upgrade donk!
                            </video>
                        </div>
                        <button onclick="takeSnapshot()" type="submit" class="btn btn-primary">Ambil Gambar</button> -->

                        <!-- <button type="submit" class="btn btn-primary">Buat</button> -->
                    </form>
                </div>
            </div>
            
        </div>
    </div>

    <%- include ('./../../../components/script.ejs')%>
</body>

</html>