<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a href="/teacher/dashboard" class="navbar-brand mx-4 mb-3">
            <div class="d-flex">
                <img src="/images/icons/logo-smk.ico" alt="" style="width: 35px; height: 35px;">
                <h3 class="text-primary"><i class="fa me-2"></i>Guru</h3>
            </div>
        </a>
        <div class="navbar-nav w-100">
            <a href="/teacher/dashboard" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
            <a href="/teacher/class" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Nilai</a>
            <a href="/teacher/class/detail" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Kelas</a>
            <a href="/teacher/schadule" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Jadwal</a>
        </div>
    </nav>
</div>