<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a href="/murid/dashboard" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa me-2"></i>Murid</h3>
        </a>
        <div class="navbar-nav w-100">
            <a href="/murid/dashboard" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
            <a href="/murid/class" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Kelas</a>
            <a href="/murid/payment" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>SPP</a>
        </div>
    </nav>
</div>