<%- include ('./../../../components/head.ejs')%>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <!-- sidebar start -->
        <%- include ('./../../../components/sidebar.ejs')%>
        <!-- sidebar end -->

        <div class="content">
            <!-- navbar start -->
            <%- include ('./../../../components/navbar.ejs')%>
            <!-- navar end -->

            <div class="container-fluid pt-4 px-4 pb-5">
                <div class="d-flex mb-4">
                    <a href="/user/teachers" class="d-inline-flex text-decoration-nonebi bi-arrow-left pr-4"></a>
                    <h6 class="px-3">Edit Guru</h6>
                </div>
                <div class="bg-light rounded p-4">
                    <div class="alert alert-danger text-center" role="alert">
                        Edit Data Guru
                    </div>

                    <div class="bg-light rounded ">
                        <div class="testimonial-item text-center">
                            <h5 class="mb-1">67983423908</h5>
                            <p>aditya@gmail.com</p>
                        </div>
                    </div>

                    <hr>
                    <!-- form set Teacher -->
                    <div class="bg-light rounded h-100 px-4">
                        <form>
                            <div class="mb-3">
                                <label for="inputName" class="form-label">Nama</label>
                                <input type="text" class="form-control" id="inputName">
                            </div>
                            <div class="mb-3">
                                <label for="inputTempatLahir" class="form-label">Tempat Lahir</label>
                                <input type="text" class="form-control" id="inputTempatLahir">
                            </div>
                            <div class="mb-3">
                                <label for="inputTTL" class="form-label">Tanggal Lahir</label>
                                <input type="date" class="form-control" id="inputTTL">
                            </div>
                            <div class="mb-3">
                                <label for="inputAlamat" class="form-label">Alamat</label>
                                <textarea name="" class="form-control" id="inputAlamat"></textarea>
                            </div>
                            <!-- JK -->
                            <fieldset class="row mb-3">
                                <legend class="col-form-label col-sm-2 pt-0">Jenis Kelamin</legend>
                                <div class="col-sm-10">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="gridRadios"
                                            id="gridLaki" value="option1" checked>
                                        <label class="form-check-label" for="gridLaki">
                                            Laki-Laki
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="gridRadios"
                                            id="gridPerempuan" value="option2">
                                        <label class="form-check-label" for="gridPerempuan">
                                            Perempuan
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                            <!-- Agama -->
                            <div class="form-floating mb-3">
                                <select class="form-select" id="floatingSelect"
                                    aria-label="Floating label select example">
                                    <option selected undefined disabled>Agama</option>
                                    <option value="islam">Islam</option>
                                    <option value="kristen">Kristen</option>
                                    <option value="katolik">Katolik</option>
                                    <option value="hindu">Hindu</option>
                                    <option value="budha">Budha</option>
                                    <option value="kongihucu">Konghucu</option>
                                    <option value="lainnya">Lainnya....</option>
                                </select>
                                <label for="floatingSelect">Agama</label>
                            </div>

                            <div class="mb-3">
                                <label for="inputHp" class="form-label">Nomer Handphone</label>
                                <input type="number" class="form-control" id="inputHp">
                            </div>
                            <!-- Jurusan -->
                            <div class="form-floating mb-3">
                                <select class="form-select" id="floatingSelect"
                                    aria-label="Floating label select example">
                                    <option selected undefined disabled>Pendidikan</option>
                                    <option value="1">S.E</option>
                                    <option value="2">S.Pd</option>
                                    <option value="lainnya">Lainnya....</option>
                                </select>
                                <label for="floatingSelect">Pendidikan</label>
                            </div>
                            <!-- Status -->
                            <div class="form-floating mb-3">
                                <select class="form-select" id="floatingSelect"
                                    aria-label="Floating label select example">
                                    <option selected undefined disabled>Status</option>
                                    <option value="aktif">Aktif</option>
                                    <option value="cuti">Cuti</option>
                                    <option value="berhenti">Berhenti</option>
                                </select>
                                <label for="floatingSelect">Status</label>
                            </div>

                            <button type="submit" class="btn btn-primary">Simpan</button>
                        </form>
                    </div>

                </div>
            </div>
            
        </div>
    </div>
    <%- include ('./../../../components/script.ejs')%>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script> -->
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.bootstrap5.js"></script>
    <script>
        new DataTable('#example');
    </script>
</body>

</html>