<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIAKAD -  SMK Yadika</title>
    <!-- Favicon -->
    <link href="/images/icons/logo-smk.ico" rel="icon"> 

    <!-- Customized Bootstrap Stylesheet -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Template Stylesheet -->
    <!-- <link href="/css/library/style.css" rel="stylesheet"> -->
    <style>
        @media print {
            @page {
                margin: 20mm;
            }
            body {
                -webkit-print-color-adjust: exact;
                margin: 0;
                padding: 0;
            }
            .no-print {
                display: none;
            }
            table {
                width: 100%;
                table-layout: fixed;
            }
            th, td {
                word-wrap: break-word;
            }
        }
        p {
            font-size: 13px;
            margin: 0;
        }
        .kop-surat {
            margin-bottom: 20px;
        }
        .kop-surat .line {
            border-top: 2px solid #000;
            margin: 5px 0;
        }
        .footer {
            margin: 50px 50px 10px 50px;
            width: 200px;
        }
        .footer .signature-line {
            display: block;
            margin-top: 50px;
            border-top: 1px solid black;
        }
 
    </style>
</head>
<body>
    <div class="container mt-4">
    <!-- <div class="d-flex justify-content-between align-items-center" id="action-button">
        <button class="btn btn-primary no-print" onclick="history.back()">Kembali</button>
        <button class="btn btn-info no-print" onclick="window.print()">Cetak</button>
    </div> -->
        <!-- Kop Surat -->
        <div class="kop-surat text-center">
            <h3>Sekolah Menengah Kejuruan Yadika Jambi</h3>
            <p>Jln. Abdul Muis Lorong Anggrek Rt 38 (Jerambah Bolong), kel. Lingkar Sel., Kec. Jambi Sel., Kota Jambi, Jambi 36136</p>
            <div class="line"></div>
            <div class="line"></div>
        </div>

        <%- data %>
        <div class="bg-light text-center rounded p-4">
          <div class="table-responsive">
              <table id="example" class="table table-striped" style="width:100%">
                  <thead>
                      <tr>
                          <th>No</th>
                          <th>NIP</th>
                          <th>Nama</th>
                          <th>Email</th>
                          <th>JK</th>
                          <th>Mata Pelajaran</th>
                          <th>Aktif</th>
                          <th>Action</th>
                      </tr>
                  </thead>
                  <tbody>                             
                      <tr>
                        <td>No</td>
                        <td>NIP</td>
                        <td>Nama</td>
                        <td>Email</td>
                        <td>JK</td>
                        <td>Matkul</td>
                        <td>Aktif</td>
                        <td>Action</td>
                      </tr>
                  </tbody>
                  <tfoot>
                      <tr>
                          <th>No</th>
                          <th>NIP</th>
                          <th>Nama</th>
                          <th>Email</th>
                          <th>JK</th>
                          <th>Matkul</th>
                          <th>Aktif</th>
                          <th>Action</th>
                      </tr>
                  </tfoot>
              </table>
          </div>
      </div>
        <footer class="d-flex justif justify-content-end">
            <div class="footer">
                <p>Jambi, <span id="current-date"></span></p>
                <span class="signature-line"></span>
            </div>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
