<%- include ('./../../../components/head.ejs')%>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <!-- sidebar start -->
        <%- include ('./../../../components/sidebar-teacher.ejs')%>
        <!-- sidebar end -->

        <div class="content">
            <!-- navbar start -->
            <%- include ('./../../../components/navbar-teacher.ejs')%>
            <!-- navar end -->

            <div class="container-fluid pt-4 px-4 pb-5">
                <div class="d-flex mb-4">
                    <a href="/teacher/class" class="d-inline-flex text-decoration-nonebi bi-arrow-left pr-4"></a>
                    <h6 class="px-3">Kembali</h6>
                </div>
                <div class="bg-light  rounded p-4">
                    <div class="alert text-center alert-primary" role="alert">
                        Detail Data Kelas
                    </div>

                    <div class="bg-light rounded">
                        <div class="testimonial-item text-center">
                            <h6 class="">2022</h6>
                            <h5 class="mb-1">XII TKJ</h5>
                            <p>Indra Subakti, S.Pd</p>
                        </div>
                    </div>
                    <hr>
                    <div class="bg-light rounded h-100">
                        <h6 class="mb-4">List Murid</h6>
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-semua-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-semua" type="button" role="tab" aria-controls="nav-semua"
                                    aria-selected="true">Semua</button>
                                <button class="nav-link" id="nav-tugas-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-tugas" type="button" role="tab"
                                    aria-controls="nav-tugas" aria-selected="false">Tugas</button>
                                <button class="nav-link" id="nav-uts-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-uts" type="button" role="tab"
                                    aria-controls="nav-uts" aria-selected="false">UTS</button>
                                <button class="nav-link" id="nav-uas-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-uas" type="button" role="tab"
                                    aria-controls="nav-uas" aria-selected="false">UAS</button>
                            </div>
                        </nav>
                        <div class="tab-content pt-3" id="nav-tabContent">
                            <!-- all start -->
                            <div class="tab-pane fade show active" id="nav-semua" role="tabpanel" aria-labelledby="nav-semua-tab">
                                <table id="example" class="table table-striped text-center" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>NIS</th>
                                            <th>Nama</th>
                                            <th>Tugas</th>
                                            <th>UTS</th>
                                            <th>UAS</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>43536536</td>
                                            <td><a href="/teacher/class/01/detail">Joko Santoto</a></td>
                                            <td><span class="badge bg-primary">80</span></td>
                                            <td><span class="badge bg-secondary">-</span></td>
                                            <td><span class="badge bg-secondary">-</span></td>
                                            <td><span class="badge bg-success">Aktif</span></td>
                                        </tr>
                                        <tr>
                                            <td>43536536</td>
                                            <td><a href="/teacher/class/01/detail">Joko Santoto</a></td>
                                            <td><span class="badge bg-warning">60</span></td>
                                            <td><span class="badge bg-secondary">-</span></td>
                                            <td><span class="badge bg-secondary">-</span></td>
                                            <td><span class="badge bg-success">Aktif</span></td>
                                        </tr>
                                        <tr>
                                            <td>43536536</td>
                                            <td><a href="/teacher/class/01/detail">Joko Santoto</a></td>
                                            <td><span class="badge bg-danger">30</span></td>
                                            <td><span class="badge bg-secondary">-</span></td>
                                            <td><span class="badge bg-secondary">-</span></td>
                                            <td><span class="badge bg-success">Aktif</span></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>NIS</th>
                                            <th>Nama</th>
                                            <th>Tugas</th>
                                            <th>UTS</th>
                                            <th>UAS</th>
                                            <th>Status</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- all end -->
                            <!-- tugas start -->
                            <div class="tab-pane fade" id="nav-tugas" role="tabpanel" aria-labelledby="nav-tugas-tab">
                                <!-- <h6 class="mb-4">Accented Table</h6>-->
                                <form action="">
                                    <table id="example" class="table table-striped text-center" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>NIS</th>
                                                <th>Nama</th>
                                                <th>Tugas</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>43536536</td>
                                                <td>JOKO SANTOSO</td>
                                                <td><input type="email" class="form-control" id="inputEmail"
                                                    aria-describedby="emailHelp" value="80"></td>
                                                <td><span class="badge bg-success">Aktif</span></td>
                                            </tr>
                                            <tr>
                                                <td>43536536</td>
                                                <td>JOKO SANTOSO</td>
                                                <td><input type="email" class="form-control" id="inputEmail"
                                                    aria-describedby="emailHelp" value="80"></td>
                                                <td><span class="badge bg-success">Aktif</span></td>
                                            </tr>
                                            <tr>
                                                <td>43536536</td>
                                                <td>JOKO SANTOSO</td>
                                                <td><input type="email" class="form-control" id="inputEmail"
                                                    aria-describedby="emailHelp" value="80"></td>
                                                <td><span class="badge bg-success">Aktif</span></td>
                                            </tr>
                                            <tr>
                                                <td>43536536</td>
                                                <td>JOKO SANTOSO</td>
                                                <td><input type="email" class="form-control" id="inputEmail"
                                                    aria-describedby="emailHelp" value="80"></td>
                                                <td><span class="badge bg-success">Aktif</span></td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>NIS</th>
                                                <th>Nama</th>
                                                <th>Tugas</th>
                                                <th>Status</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                    <button type="submit" class="btn btn-primary">Simpan</button>
                                </form>
                            </div>
                            <!-- tugas end -->
                            <!-- uts start -->
                            <div class="tab-pane fade" id="nav-uts" role="tabpanel" aria-labelledby="nav-uts-tab">
                                <!-- <h6 class="mb-4">Accented Table</h6>-->
                                <form action="">
                                    <table id="example" class="table table-striped text-center" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>NIS</th>
                                                <th>Nama</th>
                                                <th>UTS</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>43536536</td>
                                                <td>JOKO SANTOSO</td>
                                                <td><input type="email" class="form-control" id="inputEmail"
                                                    aria-describedby="emailHelp"></td>
                                                <td><span class="badge bg-success">Aktif</span></td>
                                            </tr>
                                            <tr>
                                                <td>43536536</td>
                                                <td>JOKO SANTOSO</td>
                                                <td><input type="email" class="form-control" id="inputEmail"
                                                    aria-describedby="emailHelp"></td>
                                                <td><span class="badge bg-success">Aktif</span></td>
                                            </tr>
                                            <tr>
                                                <td>43536536</td>
                                                <td>JOKO SANTOSO</td>
                                                <td><input type="email" class="form-control" id="inputEmail"
                                                    aria-describedby="emailHelp"></td>
                                                <td><span class="badge bg-success">Aktif</span></td>
                                            </tr>
                                            <tr>
                                                <td>43536536</td>
                                                <td>JOKO SANTOSO</td>
                                                <td><input type="email" class="form-control" id="inputEmail"
                                                    aria-describedby="emailHelp"></td>
                                                <td><span class="badge bg-success">Aktif</span></td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>NIS</th>
                                                <th>Nama</th>
                                                <th>UTS</th>
                                                <th>Status</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                    <button type="submit" class="btn btn-primary">Simpan</button>
                                </form>
                            </div>
                            <!-- uts end -->
                            <!-- uas start -->
                            <div class="tab-pane fade" id="nav-uas" role="tabpanel" aria-labelledby="nav-uas-tab">
                                <!-- <h6 class="mb-4">Accented Table</h6>-->
                                <form action="">
                                    <table id="example" class="table table-striped text-center" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>NIS</th>
                                                <th>Nama</th>
                                                <th>UAS</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>43536536</td>
                                                <td>JOKO SANTOSO</td>
                                                <td><input type="email" class="form-control" id="inputEmail"
                                                    aria-describedby="emailHelp"></td>
                                                <td><span class="badge bg-success">Aktif</span></td>
                                            </tr>
                                            <tr>
                                                <td>43536536</td>
                                                <td>JOKO SANTOSO</td>
                                                <td><input type="email" class="form-control" id="inputEmail"
                                                    aria-describedby="emailHelp"></td>
                                                <td><span class="badge bg-success">Aktif</span></td>
                                            </tr>
                                            <tr>
                                                <td>43536536</td>
                                                <td>JOKO SANTOSO</td>
                                                <td><input type="email" class="form-control" id="inputEmail"
                                                    aria-describedby="emailHelp"></td>
                                                <td><span class="badge bg-success">Aktif</span></td>
                                            </tr>
                                            <tr>
                                                <td>43536536</td>
                                                <td>JOKO SANTOSO</td>
                                                <td><input type="email" class="form-control" id="inputEmail"
                                                    aria-describedby="emailHelp"></td>
                                                <td><span class="badge bg-success">Aktif</span></td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>NIS</th>
                                                <th>Nama</th>
                                                <th>UAS</th>
                                                <th>Status</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                    <button type="submit" class="btn btn-primary">Simpan</button>
                                </form>
                            </div>
                            <!-- uas end -->
                        </div>
                    </div>
                </div>       
            </div>
        </div>
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <%- include ('./../../../components/script.ejs')%>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.bootstrap5.js"></script>
    <script>
        new DataTable('#example');
    </script>
</body>

</html>