<%- include ('./../../../components/head.ejs')%>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <!-- sidebar start -->
        <%- include ('./../../../components/sidebar-teacher.ejs')%>
        <!-- sidebar end -->

        <div class="content">
            <!-- navbar start -->
            <%- include ('./../../../components/navbar-teacher.ejs')%>
            <!-- navar end -->

            <div class="container-fluid pt-4 px-4 pb-5">
                <div class="d-flex mb-4">
                    <a href="/teacher/schadule" class="d-inline-flex text-decoration-nonebi bi-arrow-left pr-4"></a>
                    <h6 class="px-3">Kembali</h6>
                </div>
                <div class="bg-light  rounded p-4">
                    <div class="alert text-center alert-primary" role="alert">
                        Detail Absesnsi Kelas
                    </div>

                    <div class="bg-light rounded">
                        <div class="testimonial-item text-center">
                            <h6 class="">Jaringan Kommputer</h6>
                            <h5 class="mb-1">XII TKJ</h5>
                            <p>Indra Subakti, S.Pd</p>
                        </div>
                    </div>
                    <hr>
                    <div class="bg-light rounded h-100">
                        <h6 class="mb-4">List Absensi</h6>
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <!-- absensi content start -->
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingFIRST">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#flush-collapseFIRST"
                                        aria-expanded="false" aria-controls="flush-collapseFIRST">
                                        Senin 20, November 2027
                                    </button>
                                </h2>
                                <div id="flush-collapseFIRST" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingFIRST" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <table id="example" class="table table-striped text-center" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>NIS</th>
                                                    <th>Nama</th>
                                                    <th>Absensi</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>43536536</td>
                                                    <td>JOKO SANTOSO</td>
                                                    <td>
                                                        <i class="bi bi-check-circle-fill" style="color: rgb(113, 223, 3);"></i>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>43536536</td>
                                                    <td>JOKO SANTOSO</td>
                                                    <td>
                                                        <i class="bi bi-x-circle-fill" style="color:crimson;"></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>NIS</th>
                                                    <th>Nama</th>
                                                    <th>Absensi</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- absensi content start -->
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingSECOND">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#flush-collapseSECOND"
                                        aria-expanded="false" aria-controls="flush-collapseSECOND">
                                        Senin 27, November 2027
                                    </button>
                                </h2>
                                <div id="flush-collapseSECOND" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingSECOND" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <table id="example" class="table table-striped text-center" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>NIS</th>
                                                    <th>Nama</th>
                                                    <th>Absensi</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>43536536</td>
                                                    <td>JOKO SANTOSO</td>
                                                    <td>
                                                        <i class="bi bi-check-circle-fill" style="color: rgb(113, 223, 3);"></i>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>43536536</td>
                                                    <td>JOKO SANTOSO</td>
                                                    <td>
                                                        <i class="bi bi-x-circle-fill" style="color:crimson;"></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>NIS</th>
                                                    <th>Nama</th>
                                                    <th>Absensi</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- absensi content end -->

                        </div>
                    </div>
                </div>       
            </div>
        </div>
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <%- include ('./../../../components/script.ejs')%>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.bootstrap5.js"></script>
    <script>
        new DataTable('#example');
    </script>
</body>

</html>