<%- include ('./../../../components/head.ejs')%>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <!-- sidebar start -->
        <%- include ('./../../../components/sidebar-admin.ejs')%>
        <!-- sidebar end -->

        <div class="content">
            <!-- navbar start -->
            <%- include ('./../../../components/navbar-admin.ejs')%>
            <!-- navar end -->

            <div class="container-fluid pt-4 px-4 pb-5">
                <div class="bg-light rounded h-100 p-4">
                    <div class="pb-4">
                        <a href="/admin/schadule" class="d-inline-flex text-decoration-nonebi bi-arrow-left pr-4"></a>
                        <h6 class="d-inline px-2">Kembali</h6>
                    </div>
                    <h6>Edit Jadwal</h6>
                    <hr>
                    <form>
                        <!-- Kelas -->
                        <div class="form-floating mb-3">
                            <select class="form-select" id="floatingSelect"
                                aria-label="Floating label select example">
                                <option selected undefined disabled>Kelas</option>
                                <option value="X">X</option>
                                <option value="XI">XI</option>
                                <option value="XII">XII</option>
                            </select>
                            <label for="floatingSelect">Kelas</label>
                        </div>

                        <!-- pelajaran -->
                        <div class="form-floating mb-3">
                            <select class="form-select" id="floatingSelect"
                                aria-label="Floating label select example">
                                <option selected undefined disabled>Pelajaran</option>
                                <option value="ipa">IPA</option>
                                <option value="ips">IPS</option>
                                <option value="bahasa">Bahasa</option>
                                <option value="agama">Agama</option>
                                <option value="pendidikan">Pendidikan</option>
                            </select>
                            <label for="floatingSelect">Pelajaran</label>
                        </div>

                        <!-- Hari -->
                        <div class="form-floating mb-3">
                            <select class="form-select" id="floatingSelect"
                                aria-label="Floating label select example">
                                <option selected undefined disabled>Hari</option>
                                <option value="senin">Senin</option>
                                <option value="selasa">Selasa</option>
                                <option value="rabu">Rabu</option>
                                <option value="kamis">Kamis</option> 
                                <option value="jumat">Jum'at</option>
                                <option value="sabtu">Sabtu</option>
                            </select>
                            <label for="floatingSelect">Hari</label>
                        </div>

                        <div class="mb-3">
                            <label for="inputMulai" class="form-label">Jam Mulai</label>
                            <input type="time" class="form-control" id="inputMulai"
                                aria-describedby="mulaiHelp">
                        </div>
                        <div class="mb-3">
                            <label for="inputBerakhir" class="form-label">Jam Berakhir</label>
                            <input type="time" class="form-control" id="inputBerakhir"
                                aria-describedby="berakhirHelp">
                        </div>

                        
                        <!-- Status -->
                        <fieldset class="row mb-3">
                            <legend class="col-form-label col-sm-2 pt-0">Status</legend>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios"
                                        id="gridActive" value="option1" checked>
                                    <label class="form-check-label badge bg-success" for="gridActive">
                                        Aktif
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios"
                                        id="gridUnActive" value="option2">
                                    <label class="form-check-label badge bg-danger" for="gridUnActive">
                                        Tidak Aktif
                                    </label>
                                </div>
                            </div>
                        </fieldset>

                        <button type="submit" class="btn btn-primary">Simpan</button>
                    </form>
                </div>
            </div>
            
        </div>
    </div>

    <%- include ('./../../../components/script.ejs')%>
</body>

</html>