<%- include ('./../../components/head.ejs')%>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <!-- sidebar start -->
        <%- include ('./../../components/sidebar-admin.ejs')%>
        <!-- sidebar end -->

        <div class="content">
            <!-- navbar start -->
            <%- include ('./../../components/navbar-admin.ejs')%>
            <!-- navar end -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light rounded p-4">
                    <div class="text-center">
                        <h3 class="mb-6"><u>Admin Dashboard</u></h3>
                        <p>
                            Page Admin adalah page yang di khususkan untuk Para Admin <br>
                            Dimana digunakan untuk Admin sebagai Management semua data SIAKAD yang di gunakan
                        </p>
                    </div>
                    <hr>
                    <!-- Page List -->
                    <div>
                        <h5 class="text-center mb-4">Page List</h5>
                        <ul>
                            <li><b>Pengguna Page</b><br>
                            Digunakan untuk <b>Memanagement Data pengguna</b> di semua Role</li>
                            <li><b>Matapelajaran Page</b><br>
                            Digunakan untuk <b>Memanagement data Pelajaran</b> di sekolah</li>
                            <li><b>Jurusan Page</b><br>
                            Digunakan untuk <b>Memanagement Data Jurusan</b> di sekolah </li>
                            <li><b>Kelas Page</b><br>
                            Digunakan untuk <b>Memanagement Data Kelas</b> di sekolah </li>
                            <li><b>Jadwal Page</b><br>
                            Digunakan untuk <b>Memanagement Data Jadwal Pelajaran</b> di sekolah </li>
                            <li><b>SPP Page</b><br>
                            Digunakan untuk <b>Memanagement Data SPP</b> di sekolah </li>
                        </ul>
                    </div>
                    <hr>
                    <!-- Step -->
                    <div>
                        <h5 class="text-center mb-4">Step Penggunaan</h5>
                        <ul>
                            <li>Sebelum membuat Akun <b>Guru</b> harus membuat data <b>Mata Pelajaran</b> terlebih daulu</li>
                            <li>Sebelum Membuat Akun <b>Murid</b> harus memiliki data <b>Mata Pelajaran</b> dan data <b>Kelas</b></li>
                            <li>Sebelum Membuat data <b>Kelas</b> harus memiliki data <b>Wali Kelas</b> atau yang dimana harus membuat <b>Akun Guru</b> terlebih dahulu</li>
                            <li>Sebelum Membuat data <b>Jadwal</b> harus membuat data <b>Kelas</b> dan data <b>Jadwal</b> terlebih dahulu</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include ('./../../components/script.ejs')%>
</body>

</html>