<%- include ('./../../../components/head.ejs')%>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <!-- sidebar start -->
        <%- include ('./../../../components/sidebar-murid.ejs')%>
        <!-- sidebar end -->

        <div class="content">
            <!-- navbar start -->
            <%- include ('./../../../components/navbar-murid.ejs')%>
            <!-- navar end -->

            <div class="container-fluid pt-4 px-4 pb-5">
                <div class="alert text-center alert-primary" role="alert">
                    <h5 class="mb-1">Jadwal Kelas</h5>
                </div>
                
                <div class="row g-4">
                    <!-- senin start -->
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-light rounded p-4 shadow">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <h5 class="mb-0">Senin</h5>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-2">
                                <div class="w-100 ">
                                    <div class="d-flex w-100 justify-content-between">
                                        <a class="mb-0"><b>Jaringan Komputer</b></a>
                                        <small>15 minutes ago</small>
                                    </div>
                                    <span>Sumarti Juniardi, S.Pd</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- senin end -->
                    <!-- selasa start -->
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-light rounded p-4 shadow">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <h5 class="mb-0">Selasa</h5>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-2">
                                <div class="w-100 ">
                                    <div class="d-flex w-100 justify-content-between">
                                        <a class="mb-0"><b>Jaringan Komputer</b></a>
                                        <small>15 minutes ago</small>
                                    </div>
                                    <span>Sumarti Juniardi, S.Pd</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- selasa end -->
                    <!-- rabu start -->
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-light rounded p-4 shadow">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <h5 class="mb-0">Rabu</h5>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-2">
                                <div class="w-100 ">
                                    <div class="d-flex w-100 justify-content-between">
                                        <a class="mb-0"><b>Jaringan Komputer</b></a>
                                        <small>15 minutes ago</small>
                                    </div>
                                    <span>Sumarti Juniardi, S.Pd</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- rabu end -->
                    <!-- kamis start -->
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-light rounded p-4 shadow">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <h5 class="mb-0">Kamis</h5>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-2">
                                <div class="w-100 ">
                                    <div class="d-flex w-100 justify-content-between">
                                        <a class="mb-0"><b>Jaringan Komputer</b></a>
                                        <small>15 minutes ago</small>
                                    </div>
                                    <span>Sumarti Juniardi, S.Pd</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- kamis end -->
                </div>

            </div>
        </div>
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <%- include ('./../../../components/script.ejs')%>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.bootstrap5.js"></script>
    <script>
        new DataTable('#example');
    </script>
</body>

</html>